{% load bootstrap %}
{% load admin_pagination %}
{% include 'cms/admin/menu.inc.html' with current_view='content' %}

<style>
<!--
.children-column {
	margin-top:-20px;
	padding:8px 15px;
	border:1px solid #ddd;
	margin-bottom:20px;
}
.children-column > ul {
	display:inline;
}
-->
</style>

<ul class="breadcrumb" style="margin-top:-20px">
  <li><a href="{% url admin:cms:content %}">内容管理</a></li>
  {% for i in column_select.breadcrumb %}
  	<li{% if forloop.last %} class="active"{% endif %}><a href="{% url admin:cms:content-path i.path %}">{{i.name}}</a></li>
  {% endfor %}
  {% if is_content_edit %}
  	<li>{% if content_id %}
  		编辑内容: {{content.title}}
  		{% else %}
  		发布内容
  		{% endif %}</li>
  {% endif %}
</ul>
{% if column_select.children %}
<div class="children-column">
	子栏目：
   	<ul class="inline">
  	{% for i in column_select.children %}
		<li><a href="{% url admin:cms:content-path i.path %}">{{i.name}}</a></li>
	{% endfor %}
	</ul>
</div>
{% endif %}

{% if not is_content_edit %}
	{% if can_create_content %}
		
		<table class="table" style="margin-top:-20px">
			<thead>
				<tr>
					<th class="number">ID</th>
					<th>标题</th>
					<th class="datetime">修改日期</th>
					<th class="user">修改人</th>
					<th class="number">浏览量</th>
				</tr>
			</thead>
			<tbody>
				{% for i in content_set %}
				<tr>
					<td class="number">{{i.pk}}</td>
					<td><a href="{{i.get_absolute_url}}" target="_blank">{{i}}</a>
						{% if i.is_hidden %}<span class="label">隐藏</span>{% endif %}
						<div class="pull-right">
							<a href="{% url admin:cms:content-edit column_select.path, i.pk %}" class="btn btn-mini">修改</a>
						</div>
					</td>
					<td class="datetime">{{i.update_at}}</td>
					<td class="user">{{i.update_user}}</td>
					<td class="number">{{i.views}}</td>
				</tr>
				{% endfor %}
			</tbody>
			<tfoot>
				<tr>
					<td></td>
					<td colspan="4"><a href="{% url admin:cms:content-create column_select.path %}" class="btn"><i class="icon-plus"></i> 发布内容</a></td>
				</tr>
			</tfoot>
		</table>
		
		{% paginate content_set %}
		
	{% else %}
		<h2 style="text-align:center;">当前栏目不可发布内容</h2>
	{% endif %}
{% else %}
	<form action="" method="post" class="form" enctype="multipart/form-data">
		{% csrf_token %}
		{{form|bootstrap}}
		<div style="text-align:center;margin-top:30px">
			<button type="submit" class="btn btn-warning btn-large">确定</button>
		</div>
	</form>
{% endif %}
