{% load admin_pagination %}

<style>
<!--
.children-column {
	margin-top:-20px;
	padding:8px 15px;
	border:1px solid #ddd;
	border-top:none;
	margin-bottom:20px;
}
.children-column > ul {
	display:inline;
}
-->
</style>

<section class="content">

<div class="nav-tabs-custom">
    {% include 'cms/admin/menu.inc.html' with current_view='content' %}
    <div class="tab-content">
        <ul class="breadcrumb" style="border-radius:0;border:1px solid #ddd;">
          <li><a href="{% url admin:cms:content %}">内容管理</a></li>
          {% for i in column_select.breadcrumb %}
            <li{% if forloop.last %} class="active"{% endif %}><a href="{% url admin:cms:content-path i.path %}">{{i.name}}</a></li>
          {% endfor %}
          {% if is_content_edit %}
            <li>{% if content_id %}
                编辑内容: {{content.title}}
                {% else %}
                发布内容
                {% endif %}</li>
          {% endif %}
        </ul>

        {% if column_select.children %}
        <div class="children-column">
            子栏目：
            <ul class="list-inline">
            {% for i in column_select.children %}
                <li><a href="{% url admin:cms:content-path i.path %}">{{i.name}}</a></li>
            {% endfor %}
            </ul>
        </div>
        {% endif %}

        {% if not is_content_edit %}
            {% if can_create_content %}
                <form action="{% url admin:cms:content-action %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="model" value="{{column.model}}">
                    <input type="hidden" name="back" value="{{request.get_full_path|escape}}">
                    <table class="table" style="margin-top:-20px">
                        <thead>
                            <tr>
                                <th class="nowrap"><input type="checkbox" data-spy="checkall" data-for="[name='pk']"></th>
                                <th class="number">ID</th>
                                <th>标题</th>
                                <th class="datetime">修改日期</th>
                                <th class="user">修改人</th>
                                <th class="number">浏览量</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for i in content_set %}
                            <tr>
                                <th class="nowrap"><input type="checkbox" name="pk" value="{{i.pk}}"></th>
                                <td class="number">{{i.pk}}</td>
                                <td><a href="{{i.get_absolute_url}}" target="_blank">{{i}}</a>
                                    {% if i.is_hidden %}<span class="label">隐藏</span>{% endif %}
                                    <div class="pull-right">
                                        <a href="{% url admin:cms:content-edit column_select.path i.pk %}" class="btn btn-xs btn-default">修改</a>
                                    </div>
                                </td>
                                <td class="datetime">{{i.update_at}}</td>
                                <td class="user">{{i.update_user}}</td>
                                <td class="number">{{i.views}}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="6">
                                    <div class="pull-left">
                                        {% for a,i in actions.items %}
                                            <button type="submit" class="btn btn-sm {{i.button_class}}" name="action" value="{{a}}">
                                                {% if i.icon %}<i class="{{i.icon}}"></i> {% endif %}{{i.name}}
                                            </button>
                                            {% if forloop.last %}
                                                <i class="sep">|</i>
                                            {% endif %}
                                        {% endfor %}
                                        <a href="{% url admin:cms:content-create column_select.path %}" class="btn btn-sm btn-success"><i class="icon-plus icon-white"></i> 发布内容</a>
                                    </div>
                                    <div class="pull-right">
                                        {% paginate content_set %}
                                    </div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </form>

            {% else %}
                <h2 style="text-align:center;">当前栏目不可发布内容</h2>
            {% endif %}
        {% else %}

            {{form.media}}

            <form action="" method="post" class="form" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form.hidden_fields %}
                    {{ field }}
                {% endfor %}
                <table style="width:100%"><tr>
                    <td style="vertical-align:top;">
                        {% if form.non_field_errors %}
                            <div class="alert alert-error">
                                <a class="close" data-dismiss="alert">&times;</a>
                                {% for non_field_error in form.non_field_errors %}
                                     {{ non_field_error }}
                                {% endfor %}
                            </div>
                        {% endif %}

                        {% for field in main_fields %}
                            {% include 'bootstrap/field.html' %}
                        {% endfor %}
                    </td>
                    <td style="width:180px;padding-left:20px;vertical-align:top;">
                        <div data-spy="affix" data-offset-top="100" style="width:180px;top:50px">
                            <button type="submit" class="btn btn-success btn-large btn-block" style="margin-bottom:10px;">保存内容</button>
                            {% for field in meta_fields %}
                                {% include 'bootstrap/field.html' %}
                            {% endfor %}
                            {% if content %}
                                <div class="well" style="padding:5px 8px 10px;font-size:12px;margin:20px 0;">
                                    <ul class="nav nav-list" style="padding:0;">
                                        <li class="nav-header">内容信息</li>
                                        <li>浏览量: {{content.views}}</li>
                                        <li class="divider"></li>
                                        <li>创建人: {{content.create_user}}</li>
                                        <li>创建于: {{content.create_at}}</li>
                                        <li>更新人: {{content.update_user}}</li>
                                        <li>更新于: {{content.update_at}}</li>
                                    </ul>
                                </div>
                                {% if content.is_deleted %}
                                    <a href="?recover={{content.pk}}" class="btn btn-default btn-block"><i class="icon-repeat"></i> 恢复删除内容</a>
                                {% else %}
                                    <a href="?delete={{content.pk}}" class="btn btn-warning btn-block"
                                        onclick="return confirm('您确定要将内容放入回收站吗？')"><i class="icon-trash icon-white"></i> 删除内容</a>
                                {% endif %}
                            {% endif %}
                        </div>
                    </td>
                </tr></table>
            </form>
        {% endif %}
    </div>
</div>
</section>
