{% load admin_pagination %}
{% include 'cms/admin/menu.inc.html' with current_view='recycle' %}

<ul class="nav nav-pills" style="margin-top:-20px;background-color:#f5f5f5;">
	<li{% if not model %} class="active"{% endif %}><a href="{% url admin:cms:recycle %}">最近删除</a></li>
	<li style="color:#ddd;line-height:33px;padding:0 5px">|</li>
	{% for m,i in models.items %}
		<li{% if model == m %} class="active"{% endif %}><a href="{% url admin:cms:recycle-model m %}">{{i.name}}</a></li>
	{% endfor %}
	<li class="pull-right"><a href="#"><i class="icon-fire"></i> 清空回收站</a></li>
</ul>

{% if content_set %}
	<div style="margin-top:-20px;">
		{% include 'cms/admin/recycle-content-table.inc.html' %}
		{% paginate content_set %}
	</div>
{% endif %}
