{% load admin_pagination %}
{% load bootstrap %}

<section class="content">
        {% if is_clear_mode %}

            <blockquote>
                <h2>清空回收站确认</h2>
                <p>将要被清空的数量为: <strong>{{content_count}}</strong></p>
                <form action="" method="post" style="margin-top:20px">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">
                        <i class="icon-fire icon-white"></i> 确定清空
                    </button>
                </form>
            </blockquote>

        {% elif content_set %}

            <form action="" method="post">
                {% csrf_token %}
                <table class="table table-hover table-bordered">
                    <thead>
                        <tr>
                            <th class="nowrap"><input type="checkbox" data-spy="checkall" data-for="[name='pk']"></th>
                            <th class="number">ID</th>
                            <th class="nowrap">栏目</th>
                            <th>标题</th>
                            <th class="datetime">修改日期</th>
                            <th class="user">修改人</th>
                            <th class="number">浏览量</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in content_set %}
                        <tr>
                            <td><input type="checkbox" name="pk" value="{{i.pk}}"></td>
                            <td class="number">{{i.pk}}</td>
                            <td class="nowrap">
                                <a href="{{i.path.get_absolute_url}}" target="_blank">{{i.path.name}}</a>
                            </td>
                            <td><a href="{% url admin:cms:content-edit i.pk %}?next={{request.get_full_path|urlencode}}">{{i}}</a>
                                {% if i.is_hidden %}<span class="label">隐藏</span>{% endif %}
                            </td>
                            <td class="datetime">{{i.update_at}}</td>
                            <td class="user">{{i.update_user}}</td>
                            <td class="number">{{i.views}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="7">
                                <div class="pull-left">
                                    <button type="submit" class="btn btn-default btn-sm" name="action" value="fire">
                                        <i class="fa fa-remove"></i> 彻底删除选中项
                                    </button>
                                    <i class="sep">|</i>
                                    <a href="{% url admin:cms:recycle-clear %}" class="btn btn-danger btn-sm"><i class="fa fa-recycle"></i> 清空回收站</a>
                                </div>
                                <div class="pull-right">
                                    {% paginate content_set %}
                                </div>
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>

        {% else %}
            <h2 style="text-align:center;">回收站中没有任何内容</h2>
        {% endif %}
</section>
