<section class="content-header">
    <h1><a href="{% url admin:-index %}">系统</a> / 用户组</h1>
</section>

<section class="content">
    <div class="row">
        {% for i in group_set %}
        <div class="col-md-4">
            <div class="box">
                <div class="box-header">
                    <div class="box-title"><a href="{% url admin:-group-show i.pk %}">{{i.name}}</a></div>
                </div>
                <div class="box-body">
                    {% if i.permissions.all %}
                    <ol>
                        {% for p in i.permissions.all %}
                            <li>{{p}}</li>
                        {% endfor %}
                    </ol>
                    {% else %}
                        <div style="text-align:center">-- 无任何权限 --</div>
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col-md-4">
            <a href="{% url admin:-group-add %}" class="btn btn-primary">添加用户组</a>
        </div>
    </div>
</section>
