<section class="content-header">
    <h1><a href="{% url admin:-index %}">系统</a> / 管理组
        <a href="{% url admin:-group-add %}" class="btn btn-primary btn-sm">添加管理组</a>
    </h1>
</section>

<section class="content">
    <div class="row">
        {% for i in group_set %}
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="small-box bg-aqua-active">
                <div class="inner">
                    <h3>{{i.name}}</h3>
                    <p>{% if i.permissions.all %}{{ i.permissions.all|join:'<br>'|safe }}{% else %}-- 无任何权限 --{% endif %}</p>
                </div>
                <a href="{% url admin:-group-show i.pk %}" class="small-box-footer">查看</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
