<section class="content-header">
    <h1>系统</h1>
</section>

<section class="content">
    <p>当前在线管理员: <b>{{online_count}}</b> 位
        <span class="btn-group">
            <a href="{% url admin:-user-list %}" class="btn btn-default">查看所有管理员</a>
            <a href="{% url admin:-user-add %}" class="btn btn-default">添加</a>
        </span>
        &nbsp; &nbsp;
        <a href="{% url admin:-group-list %}" class="btn btn-default">用户组</a>
        &nbsp; &nbsp;
        <a href="{% url admin:-password %}" class="btn btn-default">修改我的密码</a>
    </p>
    <blockquote>
        <ul class="list-inline">
            {% for i in online_set %}
                <li>{{i.username}}</li>
            {% endfor %}
        </ul>
    </blockquote>

    <div class="box">
        <div class="box-header">
            <h3 class="box-title">最近日志</h3>
        </div>
        <div class="box-body table-responsive no-padding">
           {% include 'admin/log-table.inc.html' %}
        </div>
        <div class="box-footer text-center">
            <a href="{% url admin:-log-list %}">共有 {{log_count}} 条日志</a>
        </div>
    </div>
</section>
