{% load static %}<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="csrf-token" content="{{csrf_token}}">
	<meta name="static-prefix" content="{% get_static_prefix %}">
	<title>{% block title %}管理中心{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/font-awesome.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/jquery.notify.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'admin/css/AdminLTE.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/skins/skin-blue-light.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'admin/css/admin.css' %}">
	<script type="text/javascript">var static_prefix = '{% get_static_prefix %}';</script>
    <script src="{% static 'admin/js/jquery.js' %}"></script>
	<script src="{% static 'admin/js/bootstrap.js' %}"></script>
    <script src="{% static 'admin/js/jquery.cookie.js' %}"></script>
	<script src="{% static 'admin/js/jquery.notify.js' %}"></script>
    <script src="{% static 'admin/js/app.js' %}"></script>
    <script src="{% static 'admin/js/web.js' %}"></script>
</head>
{% block body %}
<body class="hold-transition skin-blue-light fixed sidebar-mini{% if sidebar_collapse %} sidebar-collapse{% endif %}">
    <div class="wrapper">
        <header class="main-header">
            <a href="{% url admin:-index %}" class="logo">
                <span class="logo-mini">管理</span>
                <span class="logo-lg"><b>管理</b>后台</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">展开隐藏菜单</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        {% if user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user"></i> {{user.username}} <i class="caret"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="{% url admin:-user-show user.pk %}">我的信息</a></li>
                                    <li><a href="{% url admin:-password %}">修改登陆密码</a></li>
                                </ul>
                            </li>
                            <li><a href="{% url admin:-index %}"><i class="icon-cog"></i> 系统</a></li>
                            <li><a href="{% url admin:-logout %}"><i class="icon-signout"></i> 退出</a></li>
                        {% else %}
                            <li><a href="{% url admin:-login %}"><i class="icon-signin"></i> 登陆</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

        {% if navigation %}
            <aside class="main-sidebar">
                <section class="sidebar">
                    <ul class="sidebar-menu">
                        {% for i in navigation %}
                            <li{% if i.is_active %} class="active"{% endif %}>
                                <a href="{{i.url}}"><i class="{{ i.icon|default:'fa fa-circle-o' }}"></i> <span>{{i.verbose_name}}</span></a>
                            </li>
                        {% endfor %}
                    </ul>
                </section>
            </aside>
        {% endif %}

        <div class="content-wrapper">
            {% include 'admin/browser-check.inc.html' %}
            {{content}}
        </div>
    </div>

	{% if messages %}
		<div style="display:none;">
			{% for m in messages %}
				<p class="notify" data-notify-type="{{m.tags}}">{{m.message}}</p>
			{% endfor %}
		</div>
		<script type="text/javascript">$('.notify').notify();</script>
	{% endif %}
</body>
{% endblock %}
</html>