{% load static %}<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="csrf-token" content="{{csrf_token}}">
	<meta name="static-prefix" content="{% get_static_prefix %}">
	<title>{% block title %}管理中心{% endblock %}</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.notify.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/admin.css' %}">
	<script type="text/javascript">var static_prefix = '{% get_static_prefix %}';</script>
	<script src="{% static 'js/jquery.js' %}"></script>
	<script src="{% static 'js/bootstrap.js' %}"></script>
	<script src="{% static 'js/jquery.notify.js' %}"></script>
	<script src="{% static 'js/web.js' %}"></script>
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="{% url admin:-index %}">管理中心</a>
				<ul class="nav pull-right">
					{% if user %}
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">{{user.username}} <i class="caret"></i></a>
							<ul class="dropdown-menu">
								<li><a href="{% url admin:-user-show user.pk %}">我的信息</a></li>
								<li><a href="{% url admin:-password %}">修改登陆密码</a></li>
							</ul>
						</li>
						<li><a href="{% url admin:-index %}">系统</a></li>
						<li><a href="{% url admin:-logout %}">退出</a></li>
					{% else %}
						<li><a href="{% url admin:-login %}">登陆</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
	<div class="container-fluid" >
		{% if navigation %}
		<div class="row">
			<div class="span2 sidebar">
				<ul class="nav nav-list nav-sidebar">
					{% for i in navigation %}
					<li{% if i.is_active %} class="active"{% endif %}><a href="{{i.url}}">{{i.verbose_name}}</a></li>
					{% endfor %}
				</ul>
			</div>
			<div class="offset2 main">
				{% include 'admin/browser-check.inc.html' %}
				{{content}}
			</div>
		</div>
		{% else %}
			{% include 'admin/browser-check.inc.html' %}
			{{content}}
		{% endif %}
	</div>

	{% if messages %}
		<div style="display:none;">
			{% for m in messages %}
				<p class="notify" data-notify-type="{{m.tags}}">{{m.message}}</p>
			{% endfor %}
		</div>
		<script type="text/javascript">$('.notify').notify();</script>
	{% endif %}
</body>
</html>