<table class="table table-striped">
	<thead>
		<tr>
			<th width="50" style="text-align:center">序号</th>
			<th width="30">级别</th>
			<th width="30">动作</th>
			<th>内容</th>
			<th width="120">用户</th>
			<th width="110">时间</th>
		</tr>
	</thead>
	<tbody>
		{% for i in log_set %}
		<tr>
			<td style="text-align:center">{{i.pk}}</td>
			<td>{{i.get_level_display}}</td>
			<td>{{i.get_action_display}}</td>
			<td>{{i.content|truncatechars:60}}
				<a href="{% url admin:-log-show i.pk %}" class="btn btn-mini pull-right">详细</a>
			</td>
			<td>{{i.user.username}}</td>
			<td><small>{{i.datetime}}</small></td>
		</tr>
		{% endfor %}
	</tbody>
</table>