{% load bootstrap  %}
{% load staticfiles %}

<script src="{% static 'admin/js/md5.js' %}"></script>

<div class="panel panel-warning" style="width:400px;margin:0 auto;margin-top:50px;">
	<div class="panel-heading">管理登陆</div>
	<div class="panel-body">
		<form method="post" action="" class="form" id="login-form">
			{% csrf_token %}
			{{form|bootstrap}}
			<div class="form-group">
				<div style="text-align:center;">
					<button type="submit" class="btn btn-warning btn-lg">登陆</button>
				</div>
			</div>
		</form>
	</div>
</div>

<script type="text/javascript">
<!--
$('#login-form').submit(function(e){
	var salt = $(this).find('input[name=salt]').val();
	var SECRET_KEY = '{{secret_key}}';
	$.each($(this).find('input[type=password]'), function(){
		var self = $(this);
		self.val(MD5(salt + MD5(MD5(self.val())+SECRET_KEY)));
	});
});
//-->
</script>
