{% load bootstrap  %}
{% load staticfiles %}

<section class="content-header">
    <h1>
        <a href="{% url admin:-index %}">系统</a>
        {% if target_user == user %}
            / 修改我的密码
        {% else %}
            / <a href="{% url admin:-user-list %}">管理员</a>
            / <a href="{% url admin:-user-show target_user.pk %}">{{target_user}}</a>
            / 修改用户密码
        {% endif %}
    </h1>
</section>


<section class="content">
    <div class="box">
        <form method="post" action="" class="form" id="form">
            {% csrf_token %}
            <div class="box-body">
                {{form|bootstrap}}
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-warning btn-large">确定</button>
            </div>
        </form>
    </div>
</section>

<script src="{% static 'admin/js/md5.js' %}"></script>
<script type="text/javascript">
<!--
$('#form').submit(function(e){
	var salt = $(this).find('input[name=salt]').val();
	var SECRET_KEY = '{{secret_key}}';
	var current = $(this).find('input[name=current]');
	var new_ = $(this).find('input[name=new]');
	var confirmation = $(this).find('input[name=confirmation]');
	current.val(MD5(salt + MD5(MD5(current.val())+SECRET_KEY)));
	new_.val(MD5(MD5(new_.val())+SECRET_KEY));
	confirmation.val(MD5(MD5(confirmation.val())+SECRET_KEY));
});
//-->
</script>
