{% load admin_pagination %}

<section class="content-header">
    <h1>
        <a href="{% url admin:-index %}">系统</a> /
        管理员列表
    </h1>
</section>

<section class="content">
    <div class="box">
        <div class="box-body">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th class="number">编号</th>
                        <th>用户名</th>
                        <th class="datetime">最近登陆日期</th>
                        <th class="datetime">最近登陆失败日期 (次数)</th>
                        <th class="datetime">加入日期</th>
                        <th class="datetime">最近响应日期</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in user_set %}
                    <tr>
                        <td class="number">{{i.pk}}</td>
                        <td>{{i.username}}
                            {% if not i.is_active %}<span class="label label-default">无效</span>{% endif %}
                            {% if i.is_superuser %}<span class="label label-warning">超级用户</span>{% endif %}
                            {% if i.is_online %}<span class="label label-success">在线</span>{% endif %}
                            <a href="{% url admin:-user-show i.pk %}" class="btn btn-default btn-xs pull-right">详细</a>
                        </td>
                        <td class="datetime">{{i.login_at|default:'-'}}</td>
                        <td class="datetime">{{i.login_fail_at|default:'-'}} ({{i.login_fails}})</td>
                        <td class="datetime">{{i.join_at|default:'-'}}</td>
                        <td class="datetime">{{i.request_at|default:'-'}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box-footer">
            <a href="{% url admin:-user-add %}" class="btn btn-primary btn-sm pull-left">添加管理员</a>
            {% paginate user_set %}
        </div>
    </div>
</section>
