@CHARSET "UTF-8";

/* Move down content because we have a fixed navbar that is 50px tall */
body {
	padding-top: 40px;
}

.navbar .brand {
	font-family:'微软雅黑';
	vertical-align:top;
}

.navbar-inverse .navbar-inner {
	background: #205081;
}
.navbar-inverse .navbar-link,
.navbar-inverse .brand,
.navbar-inverse .nav > li > a {
	color: #fff;
}
.navbar-inverse .brand:hover,
.navbar-inverse .nav > li > a:hover,
.navbar-inverse .brand:focus,
.navbar-inverse .nav > li > a:focus,
.navbar-inverse .nav li.dropdown.open > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.active > .dropdown-toggle,
.navbar-inverse .nav li.dropdown.open.active > .dropdown-toggle {
	background: #3b73af;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
    border-top-color: #fff;
    border-bottom-color: #fff;
}

/*
 * Sidebar
 */
.sidebar {
	position: fixed;
	top: 40px;
	bottom: 0;
	left: 0;
	z-index: 1000;
	display: block;
	padding: 20px;
	overflow-x: hidden;
	overflow-y: auto;
	/* Scrollable contents if viewport is shorter than content. */
	background-color: #f5f5f5;
	border-right: 1px solid #ccc;
	margin:0;
}

/* Sidebar navigation */
.nav-sidebar {
	margin-right: -21px; /* 20px padding + 1px border */
	margin-bottom: 20px;
	margin-left: -20px;
}

.nav-sidebar>li>a {
	padding: 8px 20px;
}

.nav-sidebar>.active>a,
.nav-sidebar>.active>a:hover,
.nav-sidebar>.active>a:focus {
	color: #3572b0;
	background: #e6e6e6;
	text-shadow: none;
}

/*
 * Main content
 */
.main {
	padding: 20px;
	padding-right: 0;
}

.main .page-header {
	margin-top: 0;
	margin-bottom: 15px;
}

/*
 * Alert
 */
.admin-alert {
	font-size:22px;
	line-height:150%;
}
.admin-alert-buttons {
	margin-top:30px;
}

/*
 * Table
 */
.table-info th {
	width: 180px;
}
.table th.nowrap,
.table td.nowrap,
.table th.user,
.table td.user,
.table th.number,
.table td.number,
.table th.datetime,
.table td.datetime {
	white-space:nowrap;
	width:10px;
}
.table th.number,
.table td.number {
	text-align:right;
}
.table td.number {
	font-family:Consolas;
}
.table td.datetime {
	font-size:12px;
}
