<section class="content-header">
    <h1>删除确认</h1>
</section>

<section class="content">
    <div class="box">
        <form method="post" action="" class="form">
            {% csrf_token %}
            <div class="box-header">
                将要删除如下项
            </div>
            <div class="box-body">
                <ul>
                    {{ to_delete|unordered_list }}
                </ul>
            </div>
            <div class="box-footer text-center">
                <a href="javascript:history.back()" class="btn btn-default"><i class="fa fa-arrow-left"></i> 返回</a>
                <button type="submit" class="btn btn-danger btn-large"><i class="fa fa-trash"></i> 确定删除</button>
            </div>
        </form>
    </div>
</section>
