<section class="content-header">
    <h1>{{ title }}</h1>
</section>

<section class="content">
    <div class="box">
        <form method="post" action="" class="form" enctype="{{ form.is_multipart|yesno:'multipart/form-data,application/x-www-form-urlencoded' }}">
            {% csrf_token %}
            <div class="box-body">
                {{form|bootstrap}}
            </div>
            <div class="box-footer">
                <button type="submit" class="btn btn-warning btn-large">确定</button>
                {% if delete_url %}
                    <a href="{{ delete_url }}" class="btn btn-danger pull-right">删除</a>
                {% endif %}
            </div>
        </form>
    </div>
</section>
