<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>CMS 栏目首页</title>
</head>
<body style="padding:10px 50px;">
	<h1>CMS 栏目首页</h1>
	<div>
		看到这个页面是因为在项目模版文件夹下无法找到
		{% if column.index_template %}<strong>{{column.index_template}}</strong> 或 {% endif %}
		<strong>cms/index.html</strong> 文件
	</div>
	<div style="background-color:#FFFFCB;padding:10px 20px;margin-top:20px;border:1px solid #ccc;line-height:180%;">
		{% include 'cms/column-info.inc.html' %}
		创建日期: {{column.create_at}}<br>
		更新日期: {{column.update_at}}<br>
		浏览量: {{column.views}}
	</div>
</body>
</html>