路径: {{current_path.path}}<br>
同级:
{% for i in current_path.currents %}
    <a href="{{ i.url }}"{% if i == P %} style="color:red;font-weight:bold"{% endif %}>{{i.name}}</a>
{% endfor %}
<br>
导航:
{% for i in current_path.breadcrumb %}
	<a href="{{ i.url }}">{{i.name}}</a>
	{% if not forloop.last %}/{% endif %}
{% endfor %}
<br>
{% if current_path.children %}
	子项:
	{% for i in current_path.children %}
		<a href="{{ i.url }}">{{i.name}}</a>
		{% if not forloop.last %}|{% endif %}
	{% endfor %}
	<br>
{% endif %}